{% extends 'members/base.html' %}
{% block title %}{{ product.name }} - E-Commerce{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p><strong>Price:</strong> ${{ product.price }}</p>
        <p><strong>Category:</strong> <a href="/categories/{{ product.category.id }}/">{{ product.category.name }}</a></p>
        <button class="btn btn-success">Add to Cart</button>
    </div>
</div>
{% endblock %}
